@import "~jspsych/css/jspsych.css";

.jspsych-display-element {
  background-color: #ffffff;
}

.jspsych-btn {
  box-sizing: border-box;
  width: 350px;
  height: 93px;
  // padding: 15px;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.jspsych-btn img {
  align-self: center;
}

.map-image {

}