@import "~jspsych/css/jspsych.css";

.jspsych-display-element {
  background-color: #ffffff;
}

.jspsych-btn {
  box-sizing: border-box;
  width: 330px;
  padding: 0px;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.map-image {

}