@import "~jspsych/css/jspsych.css";

:root {
  --borderRadius: 8px;
  --buttonColor: rgb(240, 240, 240);
}

.jspsych-content-wrapper {
  display: flex;
  justify-content: center;
  font-family: "Helvetica Neue",Arial,sans-serif;
}

.jspsych-display-element {
  background-color: rgb(202, 207, 233);
}

#jspsych-content {
  background-color: rgb(255 , 255, 255);
  border-radius: var(--borderRadius);
  padding: 20px 20px 20px 20px;
  margin-left: 20%;
  margin-right: 20%;
}

#instructions p {
  text-align: left;
}


.trialButton {
  border-radius: var(--borderRadius);
  border: 0px;
  background-color: var(--buttonColor);
}

.trialButton:hover {
  cursor: pointer;
}

.gameButton {
  box-sizing: border-box;
  width: 350px;
  height: 93px;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.gameButton:active {
  background-color: rgb(240, 112, 20);
  border: solid 2px;
}

.gameButton img {
  align-self: center;
}

#consentButton p {
  display: block;
  padding: 0px 50px;
  font-size: 16px;
}

#consentButton:active {
  background-color: rgb(240, 112, 20);
}

#sv-nav-next input,
#sv-nav-prev input,
#sv-nav-complete input
{
  padding: 10px 30px;
  display: block;
  color: black;
  font-weight: 400;
  border-radius: var(--borderRadius);
  background-color: var(--buttonColor);
}

#sv-nav-next input:active,
#sv-nav-prev input:active,
#sv-nav-complete input:active 
{
  background-color: rgb(240, 112, 20);
}

#trial-container {
  --box-width: 730px;

}

.droneTrial {
  margin-bottom: 10px;
  padding-bottom: 20px;
}

#title {
  // margin: 0px 63px 50px;
  margin: 0px 0px 50px;
  padding: 20px 0px;
  text-align: center;

  display: block;
  border-radius: 5px;

  color: white;
  background-color: #c5c2cb;

  text-shadow: 1px 3px 6px rgba(0, 0, 0, 0.41);
}

#map-img {
  width: var(--box-width);
}

#question-text {
  width: var(--box-width);
  margin: 0px;
  text-align: left;
}